@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/dist/flowbite.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue: #60efff;
  --pink: #AF51FF;
  --green: #60efa7;
  --dark-blue: #0048ff;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background: black;
}

html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@layer components {
  /* shadow */
  .shadow-gradient {
    @apply relative;
  }
  .shadow-gradient::before {
    content: "";
    @apply absolute -z-10 inset-0 bg-gradient-to-br from-[var(--blue)] to-[var(--pink)] scale-90 blur-xl opacity-70 transition-opacity duration-300 rounded-lg;
    transform: translate3d(0px, 20px, 0);
  }
  .shadow-gradient::after {
    content: "";
    @apply absolute -z-10 inset-0 bg-inherit rounded-lg;
  }

  /* bg blue gradient */
  .bg-blue-gradient {
    background: radial-gradient(circle, rgba(148,248,240,1) 5%, rgba(0,225,240,1) 27%, rgba(0,107,125,1) 62%, rgba(0,32,32,1) 92%);
  }

  /* bubble animation on click*/
  .bubble-animation {
    position: relative;
    overflow: hidden;
  }
  .bubble-animation::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
   background: rgb(186,251,255);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease;
  }
  .bubble-animation.clicked {
    outline: none;
  }
  .bubble-animation.clicked::before {
    width: 300%;
    height: 300%;
  }

  /* Animated neon line left*/
  .neon-l-shape-left {
    position: relative;
    display: inline-block;
  }
  .neon-l-shape-left::before,
  .neon-l-shape-left::after {
    content: '';
    position: absolute;
    background: #00ffff;
  }
  .neon-l-shape-left::before {
    left: -2.5rem;
    bottom: 1rem;
    width: 2px;
    height: 50%;
    background: linear-gradient(to bottom, transparent, #00ffff);
    animation: neonGlowVertical 2s ease-in-out infinite alternate;

  }
  .neon-l-shape-left::after {
    left: -2.5rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2px;
    background: linear-gradient(to left, #00ffff, transparent);
    animation: neonGlowHorizontal 2s ease-in-out infinite alternate;
  }


  /* Neon glow animation vertical */
  @keyframes neonGlowVertical {
    0% {
      filter: brightness(100%) blur(1px);
      box-shadow: 0 0 5px var(--green), 0 0 10px var(--blue),
                  0 0 15px var(--green), 0 0 20px var(--blue);
      transform: translate(0, -2px) rotate(3deg);
    }
    49% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(2px, 0) rotate(0deg);
    }
    50% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(0, 2px) rotate(-3deg);
    }
    99% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(2px, 0) rotate(0deg);
    }
    100% {
      filter: brightness(200%) blur(2px);
      box-shadow: 0 0 10px #00ffff, 0 0 20px var(--blue),
                  0 0 30px var(--green), 0 0 40px var(--blue),
                  0 0 50px #00ff00;
      transform: translate(0, -2px) rotate(3deg);
    }
  }

  /* Neon glow animation horizontal */
  @keyframes neonGlowHorizontal {
    0% {
      filter: brightness(100%) blur(1px);
      box-shadow: 0 0 5px var(--green), 0 0 10px var(--blue),
                  0 0 15px var(--green), 0 0 20px var(--blue);
      transform: translate(0, -2px) rotate(3deg);
    }
    49% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(2px, 0) rotate(0deg);
    }
    50% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(0, 2px) rotate(-3deg);
    }
    99% {
      filter: brightness(150%) blur(2px);
      box-shadow: 0 0 7px var(--green), 0 0 15px var(--blue),
                  0 0 25px var(--green), 0 0 35px var(--blue);
      transform: translate(2px, 0) rotate(0deg);
    }
    100% {
      filter: brightness(200%) blur(2px);
      box-shadow: 0 0 10px #00ffff, 0 0 20px var(--blue),
                  0 0 30px var(--green), 0 0 40px var(--blue),
                  0 0 50px #00ff00;
      transform: translate(0, -2px) rotate(3deg);
    }
  }

  /* Animated neon line right*/
  .neon-l-shape-right {
    position: relative;
    display: inline-block;
  }
  .neon-l-shape-right::before,
  .neon-l-shape-right::after {
    content: '';
    position: absolute;
    background: #00ffff;
    animation: neonGlow 2s ease-in-out infinite alternate;
  }
  .neon-l-shape-right::before {
    right: -2.5rem;
    bottom: 1rem;
    width: 2px;
    height: 50%;
    background: linear-gradient(to bottom, transparent, #00ffff);
    animation: neonGlowVertical 2s ease-in-out infinite alternate;
  }
  .neon-l-shape-right::after {
    right: -2.5rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2px;
    background: linear-gradient(to right, #00ffff, transparent);
    animation: neonGlowHorizontal 2s ease-in-out infinite alternate;
  }

  /* input box */
  /* Chrome, Safari */
  select::-webkit-scrollbar {
    @apply w-2;
  }
  select::-webkit-scrollbar-track {
    @apply bg-blue-200;
  }
  select::-webkit-scrollbar-thumb {
    @apply bg-blue-500 rounded-full;
  }
  /* Firefox */
  select {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.500') theme('colors.blue.200');
  }

  /* animated underline*/
  .underline-slide {
    position: relative;
    display: inline-block; /* Ensure the element can have an underline */
  }
  .underline-slide::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; /* Position underline at the bottom of the element */
    height: 2px; /* Adjust the height of the underline */
    background-image: linear-gradient(
      45deg,
      #e0fffb 0%,
      #60efff 10%,
      #00ffff 20%,
      #00e6ff 30%,
      #00ccff 40%,
      #00aeff 50%,
      #009dff 60%,
      #e0fffb 70%,
      #60efff 80%,
      var(--green) 90%,
      #00e6ff 95%,
      #e0fffb 100%
    );
    background-size: 200% 200%;
    animation: slideShineUnderline 10s linear infinite;
  }
  @keyframes slideShineUnderline {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }

  #content {
    color: rgb(var(--foreground-rgb));
    /* background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(223,246,255,0.2) 45%, rgba(238,238,238,0.2) 100%); */
  }

  /* Icon send */
  .blue-polygon {
    fill: #5EBAE7;
  }

  .dark-blue-polygon {
    fill: #36A9E1;
  }

  .white-rect {
    fill: #FFFFFF;
  }

  .black-path {
    fill: #1D1D1B;
  }

  /* Video background */

  .video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    overflow: hidden;
    background: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Select */
  #actionSelect > div:nth-child(3) > div:first-child > div:first-child{
    color: rgb(26 86 219/var(--tw-text-opacity));
  }
  #actionSelect div, #actionSelect span {
    cursor: pointer;
  }
  #actionSelect > div:nth-child(3) {
    width: 100%;
    height: 100%;
    background: none;
  }
}
